/* #футер */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* #футер внизу */
}

footer {
    margin-top: auto; /* #притискання */
    padding: 0 15px 30px 15px;
    z-index: 100;
}

.footer-glass {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    border-radius: 50px;
    background: rgba(15, 15, 15, 0.7);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.dev-info span {
    color: #aaa;
    font-size: 0.9rem;
    display: block;
}

.dev-info strong {
    color: #fff;
    font-size: 1.1rem;
    font-family: 'Space Grotesk', sans-serif;
}

.social-links {
    display: flex;
    gap: 15px;
}

.social-btn {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
    color: #fff;
    transition: 0.3s;
}

.social-btn:hover {
    background: var(--blob-2);
    border-color: var(--blob-2);
    transform: translateY(-3px);
    box-shadow: 0 0 15px rgba(16, 185, 129, 0.4);
}

/* #адаптив */
@media (max-width: 768px) {
    .footer-glass {
        flex-direction: column;
        gap: 20px;
        text-align: center;
        border-radius: 30px;
    }
}